body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/028/256/764/large_2x/aerial-view-of-green-forest-top-view-of-coniferous-forest-aerial-view-of-forest-ai-generated-free-photo.jpg");
    font-family: impact;
    margin: 0;
   }


   .Borders {
    display: block;
    border: 40px solid darkslategray;
    background-color: honeydew;
    border-radius: 100px;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
   }
   #Logo {
    border-radius: 500px;
    display: block;
    margin: 0 auto;
   }
   a {
    margin: 10px;
    font-size: 27px;
    color: teal;
   }
   .Links {
    background-color: honeydew;
    margin: 0 auto;
    text-align: center;
    border: 30px solid darkslategray;
    border-radius: 50px;
    width: 300px;
   }
   .Hyperimage {
    display: block;
    width: 230px;
    margin: 30px;
    border: 20px solid darkslategray;
    border-radius: 50px;
   }
   .homebutton{
     display:block;
     float: right;
     width: 100px;
     background-color: honeydew;
     padding: 10px;
     border: 20px solid darkslategray;
     border-radius: 100px;
     margin: 5px;
   }
   .details{
    background-color: black;
    color: honeydew;
    text-align: center;
    font-size: 30px
   }
   .link-grid {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 10px 20px; 
    }

    .link-grid a {
      color: honeydew;
      padding: 5px;
    }